[submodule "lib/mathjax"]
	path = lib/mathjax
	url = git://github.com/mathjax/MathJax.git
[submodule "lib/ace"]
	path = lib/ace
	url = git://github.com/ajaxorg/ace-builds.git
[submodule "lib/minmaxgd"]
	path = lib/minmaxgd
	url = git@github.com:Xlab/minmaxgd.git
